<% starting_port = port %>
{
  "apps" : [
    <% @repos.each do |repo| -%>
    {
      // Application #1
      "name"        : "<%= repo['name'] %>",
      "script"      : "<%= repo['main'] %>",
      "args"        : ["--name=<%= repo['name'] %>", "--port=<%= port %>"],
      "cwd"         : "/opt/nodejs/<%= repo['name'] %>",
      "env": {
        "NODE_ENV": "production",
      },
      "max_restarts"     : 10,
    },
    <% port += 1 %> 
    <% end -%>
  ]
}